$dark-violet: #4d4ae8;
$dark-violet-transparented: #4d4ae886;
$mid-brown: #b4535348;
$white: #fff;
$dark-blue: rgb(0, 157, 255);
$light-blue: #7aaff4;
$black: black;
$grey: rgb(208, 205, 205);
$grey-dark :rgba(255, 255, 255, 0.654);
$grey-transparented:  rgba(208, 205, 205, 0.295);
$light-green: rgb(9, 166, 9);

$color-loader-dark: rgba(0, 0, 0, 0.202);
$color-loader-light: rgb(200, 189, 189);
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    scrollbar-width: thin;
    scrollbar-color: $dark-violet-transparented rgba(0, 0, 0, 0.347);
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.347);
}

*::-webkit-scrollbar-thumb {
    background-color: $dark-violet-transparented;
    border-radius: 20px;
    border: 3px solid $grey-transparented;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&display=swap");

body {
    display: flex;
    height: 100vh;
    justify-content: center;

    width: 100%;
    background-color: $white;

    font-family: "Lato", sans-serif;
    font-family: "Montserrat", sans-serif;
}

.chat {
    max-width: 1100px;
    margin: auto;
    padding: 0 1rem;
    text-align: center;

    &__container {
        display: none;
        position: fixed;
        bottom: 60px;
        right: 60px;
        flex-direction: column;

        height: 400px;
        width: 300px;
        padding: 10px;
        border-radius: 10px;

        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.784);
        background-color: $grey;
    }

    &__header {
        width: 300px;
        height: 50px;
        margin: -10px;
        margin-bottom: 0px;
        padding: 0;
        display: flex;
        text-align: center;
        align-items: center;
        color: $white;

        border-radius: 10px 10px 0 0;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 95% 85%, 5% 85%, 0% 100%);

        background-color: $dark-blue;
        font-size: 1rem;
    }

    &__btn {
        position: fixed;
        right: 10px;
        bottom: 10px;

        width: 50px;
        height: 50px;
        border: 1px solid $dark-violet;
        border-radius: 50%;
        box-sizing: border-box;

        background-color: $dark-violet;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.784);
        opacity: 0.7;
        transition: opacity 0.5s;

        cursor: pointer;
        color: $white;
        font-size: 1rem;

        &:hover {
            opacity: 1;
        }

    }

    .active {
        display: flex;
    }

    &__window {
        height: 80%;
        overflow-y: auto;
   
        
    }

    &__message {
        position: relative;
        display: flex;

        align-items: center;
        margin: 5px;
        padding: 5px;
        border: 1px solid;
        border-radius: 10px;
        
        color: $black;
        font-size: 1rem;
    }
    
    &__bot {
        width: 60%;
        margin: 10px 0;
        
        border-radius: 10px 10px 10px 0;

        background-color: $dark-blue;
    }

    &__user {
        width: 60%;
        margin: 5px 0 5px auto;
       

        border-radius: 10px 10px 0 10px;

        background-color: $light-blue;
    }

    &__input {
        position: relative;
        display: flex;
        justify-content: space-between;

        &--field {
            width: 88%;
            padding: 5px;
            border: none;
            border-radius: 5px;

            background-color: $grey-dark;
            font-size: 1rem;

            &:focus {
                background-color: $white;
            }
        }
        &--submit {
            width: 30px;
            height: 30px;
            padding: 5px;
            border: none;
            border-radius: 50%;
            font-size: 1rem;

            color: $dark-violet;
            cursor: pointer;
            &:hover {
                background-color: $light-green;
            }

        }
    }

    &__ques {
        padding: 10px;

        &-btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin: 10px auto;
            padding: 5px;
            border-radius: 10px;
            border: 1px solid $dark-violet;

            background-color: $dark-blue;
            font-size: 13px;
            cursor: pointer;
        }
    }
}

.loader span {
    display: inline-block;

    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;

    background-color: $color-loader-dark;

    animation-name: dots;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    &:nth-child(2) {
        animation-delay: 0.4s;
    }

    &:nth-child(3) {
        animation-delay: 0.8s;
    }
}

@keyframes dots {
    50% {
        opacity: 0;
        transform: scale(0.7) translateY(10px);
        background-color: $color-loader-light;
    }
}
